*{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        color: rgb(255, 255, 255);
        
    
    }
    H1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    li {
        display: inline;
        padding-left: 40px;
    }
    a {
        color: rgb(255, 255, 255);
    }

    .location {
           align-items: center;
           text-align: center;
           max-width: auto;
           max-height: auto;
         }
    
    .temperature {
        height: 30vh;
        width: 50%;
        align-items: center;
        margin-left: 25%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    
    }
    .degree-section {
    display: flex;
    align-items: center; 
    cursor: pointer;
    }
    .degree-section span {
        margin: 10px;
        font-size: 30px;
        margin-left: 10px;
    }
    .degree-section h2 {
        font-size: 40px;
    }
    ul {
        list-style-type: none;
      }
      .amazonSearch {
        align-items: center;
           text-align: center;
           max-width: auto;
           max-height: auto;
      }
      .amazonSearchMessege {
        align-items: center;
        text-align: center;
        max-width: auto;
        max-height: auto;
      }
       .weatherBlogTitle {
           margin-top: 10vh;
        align-items: center;
           text-align: center;
           max-width: auto;
           max-height: auto;
    
      }
    .BlogRssFeed1 {
        align-items: center;
        text-align: center;
        max-width: auto;
        max-height: auto;
        opacity: 0.75;
    }
    
    .BlogRssFeed2 { 
        margin-top: 3vh;
        align-items: center;
           text-align: center;
           max-width: auto;
           max-height: auto;
           opacity: 0.75;
    
    }
    .AboutPageTitle {
        margin-top: 5vh;
        top:0px;
        align-items: center;
        text-align: center;
        max-width: auto;
        max-height: auto;
        
    }
    .AboutPageDescription {
        top: 0px;
        align-items: center;
        align-content: center;
        font-size: 1em;
        margin-left: 20%;
        padding: 5vw;
        padding: 7px;
        margin-right: 5px;
        line-height: 1.5;
        bottom: 0px;   
    }
  

	/* Centered texts in each section
	* --------------------------------------- */
	
	/* Fixed header and footer.
	* --------------------------------------- */
	#header {
      position: absolute;
      width: 100%;
      font-weight: 400;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      z-index: 1;
      opacity: 90%;
      top: 0px;
      text-align: center; 
      margin-left: -30;     
      height: 60px;
      margin-right: 0;
      opacity: 80%;
    }

    #header2 {
        position: absolute;
      width: 100%;
      font-weight: 400;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      z-index: 1;
      opacity: 90%;
      top: 0px;
      text-align: center; 
      margin-left: -30;     
      height: 60px;
      margin-right: 0;
      opacity: 80%;
      }
  
   